<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278339723370-h7ppqq2f1vfb8j0vrdecs624cdvn7ii2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278339723370-h7ppqq2f1vfb8j0vrdecs624cdvn7ii2</string>
	<key>API_KEY</key>
	<string>AIzaSyDEIb-NYfCvm073VkXGpwJbQ1efKJbUb1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>278339723370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ffFrontline</string>
	<key>PROJECT_ID</key>
	<string>ff-frontline</string>
	<key>STORAGE_BUCKET</key>
	<string>ff-frontline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278339723370:ios:74788acef3bd977d10ea13</string>
</dict>
</plist>